.france-container {
  position: relative;
  width: 100%;
  height: 1200px;
  overflow: hidden;
}

.sideFrance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sideFrance1 {
  background-image: url('/public/France/Side1.png');
  z-index: 3;
  filter: blur(1px)
}

#sideFrance2 {
  background-image: url('/public/France/Side2.png');
  z-index: 2;
  background-size: 100%;
  opacity: 0.9;
  filter: blur(1px)
}

#sideFrance3 {
  background-image: url('/public/France/Side3.png');
  z-index: 1;
}

.france-logo {
  position: absolute;
  top: 120px;
  left: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  z-index: 5;
}

.france-menu-burger {
  position: absolute;
  top: 120px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 5;
}

.cat-gif {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  z-index: 2;
  animation: slow 5s infinite;
}

.images-containerfrance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  z-index: 5;
  animation: slideIn 1s ease forwards;
  transition: opacity 1s ease, bottom 1s ease;
}

.images-containerfrance.hide {
  animation: hideImagesAnimation 1s forwards;
}

@keyframes slow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 1800px) {
  .france-container {
    height: 800px;
  }

  .background {
    background-size: cover;
  }

  #sideFrance2 {
    background-size: cover;
  }


  .text {
    font-size: 120px;
  }

  .images-container {
    height: 200px;
  }
}

@media screen and (max-width: 1440px) {


  .images-containerfrance {
    bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {


  .images-containerfrance {
    bottom: 10px;
  }
}