.france-container {
  position: relative;
  width: 100%;
  height: 1200px;
  overflow: hidden;
}

.sideFrance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center / cover; 
}

#sideFrance1 {
  background-image: url('/public/France/Side1.webp');
  z-index: 3;
}

#sideFrance2 {
  background-image: url('/public/France/Side2.webp');
  z-index: 2;
  opacity: 0.9;
  filter: blur(1px); 
}

#sideFrance3 {
  background-image: url('/public/France/Side3.webp');
  z-index: 1;
}

.france-logo,
.france-menu-burger {
  position: absolute;
  top: 120px;
  font-size: 24px;
  color: white;
  z-index: 5;
}

.france-logo { left: 20px; }

.france-menu-burger {
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.cat-gif {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 2;
  animation: slow 5s infinite;
}

.images-containerfrance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 5;
  animation: slideIn 1s ease forwards;
  transition: opacity 1s, bottom 1s; 
}

.images-containerfrance.hide {
  animation: hideImagesAnimation 1s forwards;
}

@keyframes slow {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}


@media screen and (max-width: 1800px) {
  .france-container { height: 800px; }
  .background,
  #sideFrance2 { background-size: cover; }
  .text { font-size: 120px; }
  .images-container { height: 200px; }
}

@media screen and (max-width: 1440px) {
  .images-containerfrance { bottom: 100px; }
}

@media screen and (max-width: 1024px) {
  .images-containerfrance { bottom: 10px; }
}
