.sidethailand-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidethailand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;
}

#sidethailand1 {
  background-image: url("/public/Thailande/Side1.webp");
  z-index: 3;
}

#sidethailand2 {
  background-image: url("/public/Thailande/Side2.webp");
  z-index: 2;
  opacity: 0.9;
}

#sidethailand3 {
  background-image: url("/public/Thailande/Side3.webp");
  z-index: 1;
}

.thailand-logo,
.thailand-menu-burger {
  position: absolute;
  top: 20px;
  font-size: 24px;
  color: white;
  z-index: 5;
}

.thailand-logo { left: 20px; font-weight: bold; }

.thailand-menu-burger {
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.feu-gif {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  z-index: 1;
}

.explore-buttonthailand {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5em 3em;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
  animation: exploreButtonHideAnimationReverse 1s forwards;
}

.images-containerthailand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 5;
  animation: slideIn 1s ease forwards;
  transition: opacity 1s, bottom 1s;
}

@keyframes slow {
  0%, 50% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 2560px) {
  .images-containerthailand { bottom: 10px; }
}

@media screen and (max-width: 1800px) {
  .background-container { height: 800px; }
  .images-containerthailand { height: 200px; }
}

@media screen and (max-width: 1440px) {
  .images-containerthailand { bottom: 80px; }
  .feu-gif { top: 54%; left: 22%; }
}

@media screen and (max-width: 1024px) {
  .feu-gif { top: 55%; left: 15%; }
  .images-containerthailand { bottom: 20px; }
  .explore-buttonthailand { padding: 1em 2em; font-size: 0.8em; }
}

@media screen and (max-width: 768px) {
  .feu-gif { top: 55%; left: 15%; }
}

@media screen and (max-width: 425px) {
  .images-containerthailand { bottom: 60px; }
}

@media screen and (max-width: 320px) {
  .images-containerthailand {
    font-size: 12px;
    left: 50%;
    transform: translate(-50%, -25px);
    width: 30%;
    text-align: center;
  }
}
